<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="rio.arj.dashboard">

  <application>
    <activity android:name=".NextLeagueActivity" />
    <activity
      android:name="rio.arj.detail.DetailActivity"
      android:label="@string/title_activity_detail"
      android:theme="@style/DefaultTheme" />
  </application>

</manifest>